.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2px;
    margin-right: auto;
    margin-top: 0px;

  }

.board_row_parent{
  margin-bottom: 20px;
  display: flex;
  width: fit-content;
  justify-content: center;
  padding-right: 250px;
}

.board{
    display: flex;
    text-align: center;
}